<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>Weekly report - Visa transactions</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        font-family: "Arial";
      }

      body {
        color: #272c2d;
        width: auto;
      }

      p {
        margin: 4pt 4pt 0;
      }

      .font-bold {
        font-weight: 700;
      }

      .table-header {
        font-weight: 400;
        font-size: 14pt;
      }

      .table-header.table-cell {
        border-top: 1px solid #E6E5E5;
        border-bottom: 1px solid #E6E5E5;
      }
      
      .table-header-first-row .table-header.table-cell {
        border-top: none;
      }

      table#weekly-report {
        font-size: 12pt;
        border-collapse: collapse;
      }

      .table-cell {
        padding: 20pt;
      }

      .table-cell:not(:first-child) {
        border-right: 1px solid #E6E5E5;
      }

      table#weekly-report tbody {
        color: #4e555e;
      }

      table#weekly-report tbody .table-row-coloured:nth-child(2n-1) {
        background-color: rgba(241, 244, 247, 0.5);
      }

      table#weekly-report tbody .table-row-coloured:first-child {
        border-top: 1px solid #E6E5E5;
      }

      table#weekly-report .border-none {
        border: 0;
      }

      table#weekly-report thead {
        display: table-header-group;
      }

      table#weekly-report tr {
        page-break-inside: avoid;
      }

      .table-row-total td {
        border-top: 1px solid #0D5068;
        font-size: 14pt;
      }
    </style>
  </head>

  <body>
    <div class="pdf-body">
      <table id="weekly-report" style="width: 100%">
        <thead align="center">
          {# thead: first row #}
          <tr class="table-header-first-row" style="color: #4e555e; padding-top: 4pt">
            <th class="table-header table-cell border-none">
              <div></div>
            </th>
            <th class="table-header table-cell" colspan="2">
              <div>التأشيرات المصدرة</div>
            </th>

            <th class="table-header table-cell" colspan="2">
              <div>التأشيرات الملغاة (إستقدام)</div>
            </th>

            <th class="table-header table-cell" colspan="2">
              <div>التأشيرات الملغاة (الوزارة)</div>
            </th>
          </tr>

          {# thead: second row #}
          <tr>
            <th rowspan="2" class="table-header table-cell border-none">
              <div>اسم المنشآة</div>
            </th>

            <th class="table-header table-cell">
              <div>الاسبوع السابق</div>
            </th>
            <th class="table-header table-cell">
              <div>منذ اطلاق الخدمة</div>
            </th>

            <th class="table-header table-cell">
              <div>الاسبوع السابق</div>
            </th>
            <th class="table-header table-cell">
              <div>منذ اطلاق الخدمة</div>
            </th>

            <th class="table-header table-cell">
              <div>الاسبوع السابق</div>
            </th>
            <th class="table-header table-cell">
              <div>منذ اطلاق الخدمة</div>
            </th>
          </tr>
        </thead>
        <tbody align="center">
          {% for report in visaWeeklyReport.weeklyReportData %}
          <tr class="table-row-coloured">
            <td class="table-cell">
              {{ report.establishmentName }}
            </td>
            <td class="table-cell">
              {{ report.reportTransactions.issuedVisas.sinceLaunch }}
            </td>
            <td class="table-cell">
              {{ report.reportTransactions.issuedVisas.lastWeek }}
            </td>
            <td class="table-cell">
              {{ report.reportTransactions.canceledAjeer.sinceLaunch }}
            </td>
            <td class="table-cell">
              {{ report.reportTransactions.canceledAjeer.lastWeek }}
            </td>
            <td class="table-cell">
              {{ report.reportTransactions.canceledMhrsd.sinceLaunch }}
            </td>
            <td class="table-cell">
              {{ report.reportTransactions.canceledMhrsd.lastWeek }}
            </td>
          </tr>
          {% endfor %}
          <tr class="table-row-total">
            {# Total issued visas for all establishments #}
            <td class="table-cell">مجموع التاشيرات المصدرة لجميع المنشآت</td>
            <td class="table-cell">
              {{ visaWeeklyReport.totalIssued }}
            </td>
            <td class="table-cell border-none" colspan="5"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
