<html lang="eng" dir="ltr">
  <head>
    <meta charset="UTF-8"/>
    <title>Ajeer HRS Financial Weekly Report</title>
    <style>

      html,
      body {
        margin: 0;
        padding: 0;
      }

      body {
        color: #272C2D;
        width: auto;
      }

      p {
        margin: 10pt 0;
      }

      .font-bold {
        font-weight: 700;
      }

      .table-header {
        font-weight: 600;
        font-size: 9pt;
      }

      table#weekly-report {
        font-size: 8pt;
        border-collapse: collapse;
      }

			.table-cell {
        padding: 11.5pt;
      }

      .table-header.table-cell {
        padding: 15pt;
      }

      .table-cell:not(:last-child) {
        border-right: 1px solid #e7e6e6;
      }

      table#weekly-report tbody {
        color: #4E555E;
      }

      table#weekly-report tbody .table-row:nth-child(2n-1) {
        background-color: rgba(241, 244, 247, 0.5);
      }

      table#weekly-report .border-none {
        border: 0;
      }

      table#weekly-report thead { display: table-header-group; }
      table#weekly-report tr { page-break-inside: avoid; }

    </style>
  </head>

  <body>
    <div class="pdf-body">
      <table id="weekly-report" style="width: 100%; ">
        <thead align="center">
          <tr style="color: #4e555e;">
            <th class="table-header table-cell">
              <div>Payment Date</div>
            </th>
            <th class="table-header table-cell">
              <div>IC Name</div>
            </th>
            <th class="table-header table-cell">
              <div>IC Number</div>
            </th>
            <th class="table-header table-cell">
              <div>Price with VAT</div>
            </th>
            <th class="table-header table-cell">
              <div>Price without VAT</div>
            </th>
            <th class="table-header table-cell">
              <div>PG used</div>
            </th>
            <th class="table-header table-cell">
              <div>Card used</div>
            </th>
            <th class="table-header table-cell">
              <div>Reference number</div>
            </th>
          </tr>
        </thead>
        
        <tbody align="center">
          {% for ic in report %}
            <tr class="table-row">
              <td class="table-cell">
                {{ ic.paymentDate }}
              </td>
              <td class="table-cell">
                {{ ic.icName }}
              </td>
              <td class="table-cell">
                {{ ic.icIdentity }}
              </td>
              <td class="table-cell">
                {{ ic.priceGross|number_format('0', '.', ' ') }} SAR
              </td>
               <td class="table-cell">
                {{ ic.priceNet|number_format('0', '.', ' ') }} SAR
              </td>
              <td class="table-cell">
                {{ ic.pg }}
              </td>
              <td class="table-cell">
                {{ ic.card }}
              </td>
              <td class="table-cell">
                {{ ic.referenceNumber }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
