<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Invoice #{{id}}</title>
	<style>
		body {
			color: #272C2D;
			font-size: 12px;
			width: auto;
			padding: 10pt 40pt
		}

		.title-value {
			height: 16px;
			font-size: 16px;
		}

		.title-text {
			font-size: 12px;
		}

		.align-right {
			text-align: end;
		}

		.align-left {
			text-align: start;
		}

		.text-bold {
			font-weight: bold;
		}

		.cell {
			padding-block: 10pt;
		}

		.px-10 {
			padding-inline: 10pt;

		}


		.p-5 {
			padding-inline: 5pt;
			padding-block: 5pt;
		}

		.py-5 {
			padding-block: 5pt;
		}


		.p-10 {
			padding-inline: 10pt;
			padding-block: 10pt;
		}


		.table-header {
			font-weight: 600;
			font-size: 12px;
			padding-inline: 10pt;
			padding-block: 5pt;
			text-align: start;
		}

		.bg-grey {
			background-color: #ECF0F1;
		}

		.font-bold {
			font-weight: 700;
		}

		.text-s {
			font-size: 12px;
		}


		.text-lg {
			font-size: 20px;
		}

		table#invoice {
			border-collapse: collapse;
			;
		}

		table#invoice td {
			font-size: 12px;
			border: 2px solid #ECF0F1;
		}

		table#invoice .border-none {
			border: 0;
		}
	</style>
</head>

<body>
	<div>
		<table style="padding: 5px 5px; width: 100%">
			<tbody>
				<tr>
					<td style="width: 50%">
						<!-- Add logos from own assets -->
						<img src="https://takamolholding.com/wp-content/themes/takamol/assets/images/takamol-logo.png"
							width="100" height="auto" />
					</td>
					<td class="align-right">
						<div class="title-text">From</div>
						<div class="title-value">Takamol Holding</div>
					</td>
					<td class="align-right">
						<div class="title-text">Tax number</div>
						<div class="title-value">812734</div>
					</td>
				</tr>
			</tbody>
		</table>
		<hr color="#152e83" />
		<div style="height: 50px"></div>
		<table style="padding: 5px 5px; width: 100%">
			<tbody>
				<tr>
					<td class="align-left">
						<div class="text-bold text-lg">Invoice</div>
						<div class="text-bold text-lg">#{{ id }}</div>
					</td>
					<td class="align-right">
						<div class="title-text">To</div>
						<div class="title-value">{{ company_name }}</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="height: 50px"></div>
		<table style="padding: 5px 5px; width: 100%">
			<tbody>
				<tr>
					{% if payment_method == 'qiwa' %}
					<td>
						<div class="title-text">Payment method</div>
						<div class="title-value">Mada & Visa</div>
					</td>
					{% endif %}
					{% if payment_method == 'sadad' %}
					<td class="align-right">
						<div class="title-text">Payment method</div>
						<div class="title-value">SADAD</div>
					</td>
					<td class="align-right">
						<div class="title-text">SADAD number</div>
						<div class="title-value">{{ sadad_number }}</div>
					</td>
					<td class="align-right">
						<div class="title-text">Bill expiry date</div>
						<div class="title-value">{{ expired_at|date("m/d/Y") }}</div>
					</td>
					<td class="align-right">
						<div class="title-text">Bill issue date</div>
						<div class="title-value">{{ created_at|date("m/d/Y") }}</div>
					</td>
					{% endif %}
				</tr>
			</tbody>
		</table>

		<div style="height: 50px"></div>
		<table id="invoice" style="padding: 5px 5px; width: 100%; ">
			<thead>
				<tr style="background-color: #ECF0F1; color: black;">
					<th class="table-header">Purchase type</td>
					<th class="table-header">Number of notices</td>
					<th class="table-header">Price</td>

				</tr>
			</thead>
			<tbody>
				<tr style="border-bottom: 1px solid red;">
					<td class="p-10">
						Notices
					</td>
					<td class="align-right px-10">
						{{number_of_notices}}
					</td>
					<td class="px-10 align-right">
						{{notices_cost}} SAR
					</td>
				</tr>
				<tr>
					<td colspan="2" class="align-right px-10 py-5 font-bold text-s border-none">
						Subtotal
					</td>
					<td class="px-10 py-5 align-right">{{subtotal}} SAR</td>
				</tr>
				<tr>
					<td colspan="2" class="align-right px-10 py-5 font-bold text-s border-none">
						Added tax
					</td>
					<td class="px-10 py-5 align-right ">{{added_tax}} SAR</td>
				</tr>
				<tr>
					<td colspan="2" class="align-right px-10 font-bold text-s border-none">
						Total
					</td>
					<td class="align-right p-10 bg-grey font-bold">{{total}} SAR</td>
				</tr>
			</tbody>
		</table>
		<div style="height: 200pt;"></div>
		<hr color="#152e83" />
	</div>
</body>

</html>