<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <style>

        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            color: #272C2D;
            width: auto;
        }

        p {
            margin-bottom: 10pt;
        }

        table#daily-report {
            width: 100%;
        }

        .table-cell-box {
            width: 30%;
            padding-bottom: 20pt;
        }

        .table-cell-box--space-right {
            padding-right: 25pt;
        }

        .table-cell-box--space-left {
            padding-left: 25pt;
        }

        .table-cell-box table {
            width: 100%;
        }

        .box-header {
            font-weight: 600;
            font-size: 10pt;
        }

        .box {
            text-align: center;
            border: 1pt solid #e7e6e6;
            border-radius: 3pt;
            border-collapse: separate;
            border-spacing: 0 5pt;
            box-shadow: 1pt 1pt 6pt 0 rgba(0,0,0,0.08);
        }

        .box--inline {
            text-align: center;
        }

        .box th {
            height: 50pt;
            font-size: 10pt;
            border-bottom: 1pt solid #e7e6e6;
            padding: 11.5pt;
            font-weight: normal;
            text-transform: uppercase;
        }

        .box th.box-header--small {
            height: 35pt;
        }

        .box-cell {
            padding: 8pt;
            height: 85pt;
        }

        .box-cell--2 {
            width: 50%;
        }

        .box-cell--3 {
            width: calc(100%/3)
        }

        .box-cell--4 {
            width: 25%;
        }

        .box-cell--purchases {
            height: 100pt;
        }

        .box-cell--inline {
            padding: 0;
            height: 60pt;
        }

        .box-cell:not(:last-child) {
            border-right: 1pt solid #e7e6e6;
        }

        .box-cell-text {
            font-size: 10pt;
        }

        .box-cell-value {
            font-size: 25pt;
            color: #11266D;
            font-weight: 600;
        }

        .font-bold {
            font-weight: 700;
        }

    </style>
</head>

<body>
<div class="pdf-body">
    <table id="daily-report">

        {# FIRST ROW #}
        <tr class="table-row">
            <td class="table-cell-box table-cell-box--space-right" align="center">
                <table class="box">
                    <thead>
                    <th colspan="2">
                        Number of issued notices<br/>
                        <span class="font-bold box-header-date">{{ report.yesterdayDate|date('d/m/Y') }}</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell">
                            <p class="box-cell-text">Premium</p>
                            <div class="box-cell-value">{{ report.premiumNoticesYesterday|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell">
                            <p class="box-cell-text">Standard</p>
                            <div class="box-cell-value">{{ report.standardNoticesYesterday|number_format('0', '.', ' ') }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="table-cell-box" align="center">
                <table class="box">
                    <thead>
                    <th colspan="2">
                        Number of issued notices<br/>
                        <span class="font-bold box-header-date">{{ report.twoDaysAgoDate|date('d/m/Y') }}</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell">
                            <p class="box-cell-text">Premium</p>
                            <div class="box-cell-value">{{ report.premiumNoticesTwoDaysAgo|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell">
                            <p class="box-cell-text">Standard</p>
                            <div class="box-cell-value">{{ report.standardNoticesTwoDaysAgo|number_format('0', '.', ' ') }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="table-cell-box table-cell-box--space-left" align="center">
                <table class="box">
                    <thead>
                    <th colspan="2">
                        Number of issued notices<br/>
                        <span class="font-bold box-header-date">{{ report.threeDaysAgoDate|date('d/m/Y') }}</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell">
                            <p class="box-cell-text">Premium</p>
                            <div class="box-cell-value">{{ report.premiumNoticesThreeDaysAgo|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell">
                            <p class="box-cell-text">Standard</p>
                            <div class="box-cell-value">{{ report.standardNoticesThreeDaysAgo|number_format('0', '.', ' ') }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        {# SECOND ROW #}
        <tr class="table-row">
            <td colspan="2" class="table-cell-box" align="center">
                <table class="box">
                    <thead>
                    <th colspan="2" class="box-header--small">
                        Number of notices
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell box-cell--2">
                            <p class="box-cell-text font-bold">LTD</p>
                            <table class="box--inline">
                            <tr>
                                <td class="box-cell box-cell--inline box-cell--3">
                                    <p class="box-cell-text">Premium</p>
                                    <div class="box-cell-value">{{ report.premiumNoticesLtd|number_format('0', '.', ' ') }}</div>
                                </td>
                                <td class="box-cell box-cell--inline box-cell--3">
                                    <p class="box-cell-text">Standard</p>
                                    <div class="box-cell-value">{{ report.standardNoticesLtd|number_format('0', '.', ' ') }}</div>
                                </td>
                                <td class="box-cell box-cell--inline box-cell--3">
                                    <p class="box-cell-text">Imported</p>
                                    <div class="box-cell-value">{{ report.importedNoticesLtd|number_format('0', '.', ' ') }}</div>
                                </td>
                            </tr>
                            </table>
                        </td>
                        <td class="box-cell box-cell--2">
                            <p class="box-cell-text font-bold">YTD</p>
                            <table class="box--inline">
                            <tr>
                                <td class="box-cell box-cell--inline box-cell--3">
                                    <p class="box-cell-text">Premium</p>
                                    <div class="box-cell-value">{{ report.premiumNoticesYtd|number_format('0', '.', ' ') }}</div>
                                </td>
                                <td class="box-cell box-cell--inline box-cell--3">
                                    <p class="box-cell-text">Standard</p>
                                    <div class="box-cell-value">{{ report.standardNoticesYtd|number_format('0', '.', ' ') }}</div>
                                </td>
                                <td class="box-cell box-cell--inline box-cell--3">
                                    <p class="box-cell-text">Imported</p>
                                    <div class="box-cell-value">{{ report.importedNoticesYtd|number_format('0', '.', ' ') }}</div>
                                </td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="table-cell-box table-cell-box--space-left" align="center">
                <table class="box">
                    <thead>
                    <th colspan="2" class="box-header--small">
                        Purchases
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell box-cell--purchases box-cell--2">
                            <p class="box-cell-text">LTD</p>
                            <div class="box-cell-value">{{ report.purchasesLtd|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell box-cell--purchases box-cell--2">
                            <p class="box-cell-text">YTD</p>
                            <div class="box-cell-value">{{ report.purchasesYtd|number_format('0', '.', ' ') }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        {# THIRD ROW #}
        <tr class="table-row">
			<td class="table-cell-box table-cell-box--space-right" align="center">
                <table class="box">
                    <thead>
                    <th colspan="2">
                        Daily Purchases<br/>
                        <span class="font-bold box-header-date">{{ report.yesterdayDate|date('d/m/Y') }}</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell">
                            <div class="box-cell-value">{{ report.dailyPurchases|number_format('0', '.', ' ') }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="2" class="table-cell-box" align="center">
                <table class="box">
                    <thead>
                    <th colspan="4">
                        Contract proposals
                        <br/>
                        <span class="font-bold box-header-date">{{ report.yesterdayDate|date('d/m/Y') }}</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="box-cell box-cell--4">
                            <p class="box-cell-text">Accepted</p>
                            <div class="box-cell-value">{{ report.proposalsAccepted|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell box-cell--4">
                            <p class="box-cell-text">Rejected</p>
                            <div class="box-cell-value">{{ report.proposalsRejected|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell box-cell--4">
                            <p class="box-cell-text">Expired</p>
                            <div class="box-cell-value">{{ report.proposalsExpired|number_format('0', '.', ' ') }}</div>
                        </td>
                        <td class="box-cell box-cell--4">
                            <p class="box-cell-text">Pending</p>
                            <div class="box-cell-value">{{ report.proposalsCreated|number_format('0', '.', ' ') }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
